*,
*::before,
*::after {
  /* The width and height you specify include the padding and border. */
  /* The content area shrinks to fit within the specified dimensions, ensuring a more predictable layout. */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --base: #555;
  --base-100: #f1f1f1;
  --yellow: #ffda4b;
  --yellow-100: #fffbe6;
  --blue: #cfc45d;
  --blue-100: #cfc45d;
}

h1 {
color: salmon;
}

/* h2 {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
    padding: 30px;
  } */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

header {
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  max-width: auto;
  margin: auto;
  border-bottom: 1px solid;
}

  .logo-holder {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: black;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      height: 64px;
      width: 64px;
    }
    .logo-text {
      flex: 1;
    }
  }

  nav{
    display: flex;

    align-items: center;
    ul {
      display: flex;
      list-style-type: none;
      gap: 5px;
      li {
        a {
          display: inline-block;
          padding: 10px 20px;
          color: var(--base);
          &:hover {
            background-color: var(--base-100);
            border-radius: 10px;
                  }
            }
          }
        }
       }
    /* .mobile-toggle {
      display: none;
      padding: 10px;
      @media (max-width: 768px) {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  } */

 




section {
    max-width: auto;
    margin: auto;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    @media (max-width: 1440px) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }


.hero {
    display: flex;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    .hero-first {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
    }
    .hero-second {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
    }
  }

  .hero {
    background-color: var(--blue-100);
    .hero-first {
      padding: 30px;
      .call-to-action {
        margin-top: 0px;
        margin-bottom: 10px;
        a {
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
    }
    .hero-second {
      padding: 0px 30px;
      img {
        object-fit: cover;
      }
    }
  }
  
  